.studentCommentRootRoot {
  width: 1190px;
  gap: 9px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px 53px 80px 53px;
  border-width: 5px;
  border-radius: 10px;
  border-style: solid;
  border-color: #6a60a6;
  box-sizing: border-box;
  background-color: #ffffff;
}
.rating {
  margin: 0px 0px 50px 0px;
  font-size: 32px;
  font-family: Abhaya Libre Medium;
  white-space: nowrap;
  letter-spacing: 2.08px;
  text-transform: uppercase;
  box-sizing: border-box;
}
