.experienceRootRootRoot {
  width: 1190px;
  gap: 19px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 39px 41px 150px 41px;
  border-width: 5px;
  border-radius: 10px;
  border-style: solid;
  border-color: #6a60a6;
  box-sizing: border-box;
  background-color: #ffffff;
}
.jobPosition {
  font-size: 40px;
  font-family: Abhaya Libre Medium;
  white-space: nowrap;
  letter-spacing: 2.6px;
  text-transform: uppercase;
  box-sizing: border-box;
}
.employerName {
  margin: 0px 0px 10px 0px;
  font-size: 32px;
  font-family: Abhaya Libre Medium;
  white-space: nowrap;
  letter-spacing: 2.08px;
  text-transform: uppercase;
  box-sizing: border-box;
}
.jobDuration {
  margin: 0px 0px 6px 0px;
  font-size: 32px;
  font-family: Abhaya Libre Medium;
  white-space: nowrap;
  letter-spacing: 2.08px;
  text-transform: uppercase;
  box-sizing: border-box;
}
.jobSummary {
  font-size: 32px;
  font-family: Abhaya Libre Medium;
  white-space: nowrap;
  letter-spacing: 2.08px;
  text-transform: uppercase;
  box-sizing: border-box;
}
