/* adjusting the built-in theme */

/* calendar event style */
.calendar_default_event_inner {
    background: #2e78d6;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 12pt;
    padding: 5px;
    opacity: 0.5;
}

.calendar-div {
    border-radius: 10px 10px 0 0;
}

.calendar-header {
    border-radius: 10px 10px 0 0;
    background: whitesmoke;
    border: 1px solid antiquewhite;
    font-size: 18px;
    font-weight: 550;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}
