#filters-drop-down-button {
    height: 84px;
    left: 52px;
    position: relative;
    width: 439px;
}

#drop-down-button {
    height: 84px;
    width: 439px;
    border-radius: 50px;
    box-shadow: 0 4px 4px #00000040;
    background-color: #ece9e9;
}

.label {
    color: black;
    font-family: "Noto Serif Georgian", Helvetica;
    line-height: normal;
    text-align: left;
    letter-spacing: 2px;
}

#search-label {
    font-size: 25px;
    font-weight: 400;
    left: 24px;
    top: 7px;
    height: 71px;
    width: 342px;
    letter-spacing: 2px;
    position: absolute;
}

#down-arrow {
    left: 334px;
    top: 24px;
    width: 50px;
    height: 33px;
    position: absolute;
}

#up-arrow {
    left: 334px;
    top: 26px;
    width: 50px;
    height: 33px;
    position: absolute;
}

#filters {
    background-color: #f7f7f7;
    border-radius: 50px;
    box-shadow: -10px 10px 4px #00000040;
    left: 1px;
    top: 109px;
    width: 1318px;
    height: 558px;
    position: absolute;
    overflow: hidden;
}

#filters-label {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 4px;
    left: 49px;
    top: -1px;
    width: 377px;
    height: 81px;
}

#name-filter {
    left: 27px;
    top: 91px;
    width: 657px;
    height: 84px;
    position: absolute;
}

.text-field {
    top: 17px;
    height: 50px;
    color: black;
    background-color: #ece9e9;
    border-radius: 50px;
    font-family: "Noto Serif Georgian", Helvetica;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: normal;
    text-align: center;
}

.label-small {
    font-size: 30px;
    font-weight: 400;
    position: absolute;
}

#name-label {
    left: 508px;
    top: 17px;
    width: 145px;
    height: 50px;
}

#price-filter {
    left: 317px;
    top: 27px;
    width: 618px;
    height: 84px;
    position: absolute;
}

#min-price-field {
    left: 16px;
    width: 210px;
}

#max-price-field {
    left: 271px;
    width: 210px;
}

#dash {
    font-size: 64px;
    font-weight: 400;
    text-align: center;
    left: 190px;
    top: 10px;
    width: 102px;
    height: 50px;
}

#price-label {
    left: 508px;
    top: 17px;
    width: 102px;
    height: 50px;
}

#subject-filter {
    left: 27px;
    top: 204px;
    width: 639px;
    height: 84px;
    position: absolute;
}

#subject-label {
    left: 508px;
    top: 17px;
    width: 127px;
    height: 50px;
}
