@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "CustomFont", sans-serif;
}

@font-face {
    font-family: "CustomFont", serif;
}

.login-page {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75em;
    background: #e9c89e;
}

.login-form {
    background-color: #f6f2f1;
    width: 70%;
    height: 70%;
    position: relative;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.550em rgb(156, 156, 156);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.alternative-login {
    width: 80%;
    height: 3em;
    display: flex;
    justify-content: space-around;
}

.alternative-login div {
    width: 47.5%;
    height: 90%;
    border-radius: 0.25em;
    background-color: black;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.google {
    border-radius: 15px;
    background-image: url("../../../../resources/images/google.png");
}

.facebook {
    border-radius: 15px;
    background-image: url("../../../../resources/images/fb.png");
}

input {
    border: none;
    background-color: #ecf0ef;
    width: 80%;
    height: 10%;
    border-radius: 0.75em;
    text-align: center;
    padding: 2em;
    font-size: 0.75em;
}

input:focus {
    outline-color: #ecf0ef;
}

.login-button {
    width: 40%;
    height: 3em;
    background-color: #e9c89e;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    border-radius: 0.25em;
    cursor: pointer;
}

.login-button:hover {
    transform: scale(1.25);
}

.text {
    position: relative;
    bottom: 0.5%;
}

.hide {
    position: absolute;
    transform: scale(0);
}

.login-popup {
    height: 30em;
    width: 30em;
    position: absolute;
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    align-items: center;
    justify-content: center;
    border-radius: 0.75em;
    background-color: lightsalmon;
    color: white;
    bottom: 0;
    transform: scale(1);
    transition: 2s;
}

.blue {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../../../../resources/images/google.png");
}

@media only screen and (min-device-width: 37em) {
    .login-page {
        font-size: 1em;
    }

    .login-form {
        width: 60%;
        height: 70%;
    }
}

@media only screen and (min-device-width: 64em) {
    .login-page {
        font-size: 1.25em;
    }

    .login-form {
        width: 25%;
        height: 65%;
    }
}

/* Animated background */

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;

}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}
