:root {
    --primary-color: #27272a;
    --secondary-color: #65656d;
    --tertiary-color: #acacb4;
    --quaternary-color: #e4e4e7;
    --link-color: #14b8a6;
    --primary-font: "Heebo", sans-serif;
    --secondary-font: "Roboto", sans-serif;
}

.cover-svg {
    position: absolute;
    z-index: 0;
}

.wave {
  animation: wave 7s linear infinite;
}

.wave1 {
    animation: wave1 10s linear infinite;
}

.wave2 {
    animation: wave2 11s linear infinite;
}

@keyframes wave {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(100%);
    }
}

@keyframes wave1 {
    0% {
        transform: scaleY(1.2) translateX(0%);
    }

    100% {
        transform: scaleY(1.2) translateX(100%);
    }
}

@keyframes wave2 {
    0% {
        transform: scaleY(.8) translateX(0%);
    }

    100% {
        transform: scaleY(.8) translateX(100%);
    }
}

.profile-page-profile-image-container {
    display: flex;
    justify-content: left;
    align-items: center;
    column-gap: 3vh;
    padding-top: 130px;
    z-index: 1;
}

.user-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}

#name-div {
    font-size: 24px;
    z-index: 1;
    font-weight: 600;
    border: 1px solid white;
    background: whitesmoke;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 1em;
}

.user-short-description {
    display: flex;
    align-items: center;
    column-gap: 2em;
}

#role-div {
    border: 3px solid lightsteelblue;
    z-index: 1;
    font-weight: 550;
    background: antiquewhite;
    border-radius: 30px;
    padding: 10px;
}

#rating-div {
    font-size: 30px;
    font-weight: 600;
    z-index: 1;
    color: darkgreen;
    border: 5px solid yellow;
    border-radius: 50%;
    outline: 3px solid lightcoral;
    background: lightyellow;
    padding: 1em;
}

.user-description-hide {
    position: absolute;
    transform: scale(0);
}

.profile-page-container {
    padding-top: 25px;
}

.profile-page-first-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-page-first-area-left-side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 500px;
}

.profile-page-title {
    width: 85% !important;
}

.profile-page-subtitle {
    width: 85% !important;
}

.profile-page-first-area-right-side {
    display: flex;
    align-items: center;
}

.profile-page-calendar-container {
    width: 500px;
    height: 600px;
}

.profile-page-image-wrapper {
    overflow: hidden;
    border-radius: 10%;
    transform: rotate(4deg);
}

.profile-page-image-wrapper img {
    width: 100%;
}

.profile-page-socials {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-top: 30px;
}

.profile-page-social-icon {
    padding-right: 20px;
    font-size: 25px;
    transition: color 0.2s ease-in-out;
    color: var(--secondary-color);
}

.profile-page-social-icon:hover {
    color: var(--primary-color);
}

.profile-page-after-title {
    display: flex;
}

.profile-page-projects {
    flex-basis: 300px;
    padding-top: 40px;
}

.profile-page-comments {
    flex-basis: 900px;
    padding-top: 30px;
    margin-left: -30px;
}

.profile-page-comment {
    padding-bottom: 5px;
}

.profile-page-experiences {
    flex-basis: 600px;
    padding-top: 30px;
}

@media (max-width: 1024px) {
    .profile-page-first-area {
        flex-direction: column;
    }

    .profile-page-first-area-left-side {
        display: flex;
        flex-direction: column; /* Changed: set direction to column */
        align-items: flex-start;
        width: 100%;
        order: 2;
    }

    .profile-page-title {
        width: 100% !important;
        margin-top: 20px;
        order: 2;
    }

    .profile-page-subtitle {
        width: 100% !important;
        margin-top: 10px;
        order: 3;
    }

    .profile-page-first-area-right-side {
        width: 100%;
        order: 3;
    }

    .profile-page-calendar-container {
        padding-top: 50px;
        padding-bottom: 50px;
        margin-left: 10px;
        order: 1;
    }

    .profile-page-after-title div:first-child {
        order: 1;
    }

    .profile-page-after-title {
        flex-direction: column;
    }

    .profile-page-projects {
        flex-basis: auto;
    }

    .profile-page-comments {
        flex-basis: auto;
    }

    .profile-page-experiences {
        flex-basis: auto;
        margin-left: -25px;
        margin-right: -25px;
    }
}
