:root {
    --primary-color: #27272a;
    --secondary-color: #65656d;
    --tertiary-color: #acacb4;
    --quaternary-color: #e4e4e7;
    --link-color: #14b8a6;
    --primary-font: "Heebo", sans-serif;
    --secondary-font: "Roboto", sans-serif;
}

.cover-svg {
    position: absolute;
    z-index: 0;
}

.wave {
  animation: wave 7s linear infinite;
}

.wave1 {
    animation: wave1 10s linear infinite;
}

.wave2 {
    animation: wave2 11s linear infinite;
}

@keyframes wave {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(100%);
    }
}

@keyframes wave1 {
    0% {
        transform: scaleY(1.2) translateX(0%);
    }

    100% {
        transform: scaleY(1.2) translateX(100%);
    }
}

@keyframes wave2 {
    0% {
        transform: scaleY(.8) translateX(0%);
    }

    100% {
        transform: scaleY(.8) translateX(100%);
    }
}

.profile-page-profile-image-container {
    display: flex;
    justify-content: left;
    align-items: center;
    column-gap: 3vh;
    padding-top: 130px;
    z-index: 1;
}

.user-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}

#name-div {
    font-size: 24px;
    z-index: 1;
    font-weight: 600;
    border: 1px solid white;
    background: whitesmoke;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 1em;
}

.user-short-description {
    display: flex;
    align-items: center;
    column-gap: 2em;
}

#role-div {
    border: 3px solid lightsteelblue;
    z-index: 1;
    font-weight: 550;
    background: antiquewhite;
    border-radius: 30px;
    padding: 10px;
}

#rating-div {
    font-size: 30px;
    font-weight: 600;
    z-index: 1;
    color: darkgreen;
    border: 5px solid yellow;
    border-radius: 50%;
    outline: 3px solid lightcoral;
    background: lightyellow;
    padding: 1em;
}

.user-description-hide {
    position: absolute;
    transform: scale(0);
}

.profile-page-container {
    padding-top: 25px;
}

.profile-page-first-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-page-first-area-left-side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 500px;
}

.profile-page-title {
    width: 85% !important;
}

.profile-page-subtitle {
    width: 85% !important;
}

.profile-page-first-area-right-side {
    display: flex;
    align-items: center;
}

.profile-page-calendar-container {
    width: 500px;
    height: 610px;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.profile-page-image-wrapper {
    overflow: hidden;
    border-radius: 10%;
    transform: rotate(4deg);
}

.profile-page-image-wrapper img {
    width: 100%;
}

.profile-page-socials {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-top: 30px;
}

.profile-page-social-icon {
    padding-right: 20px;
    font-size: 25px;
    transition: color 0.2s ease-in-out;
    color: var(--secondary-color);
}

.profile-page-social-icon:hover {
    color: var(--primary-color);
}

.profile-page-after-title {
    display: flex;
}

.profile-page-subjects {
    flex-basis: 300px;
    padding-top: 40px;
}

.profile-page-comments {
    flex-basis: 900px;
    padding-top: 30px;
    margin-left: -30px;
}

.profile-page-comment {
    padding-bottom: 5px;
}

.profile-page-experiences {
    flex-basis: 600px;
    padding-top: 30px;
}

@media (max-width: 1024px) {
    .profile-page-first-area {
        flex-direction: column;
    }

    .profile-page-first-area-left-side {
        display: flex;
        flex-direction: column; /* Changed: set direction to column */
        align-items: flex-start;
        width: 100%;
        order: 2;
    }

    .profile-page-title {
        width: 100% !important;
        margin-top: 20px;
        order: 2;
    }

    .profile-page-subtitle {
        width: 100% !important;
        margin-top: 10px;
        order: 3;
    }

    .profile-page-first-area-right-side {
        width: 100%;
        order: 3;
    }

    .profile-page-calendar-container {
        margin-top: 50px;
        padding-bottom: 50px;
        margin-left: 10px;
        order: 1;
    }

    .profile-page-after-title div:first-child {
        order: 1;
    }

    .profile-page-after-title {
        flex-direction: column;
    }

    .profile-page-subjects {
        flex-basis: auto;
    }

    .profile-page-comments {
        flex-basis: auto;
    }

    .profile-page-experiences {
        flex-basis: auto;
        margin-left: -25px;
        margin-right: -25px;
    }
}

.loader-container {
    z-index: 1005;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    position: fixed;
    background: #3e606f;
}

.loader-container:before, .loader-container:after {
    content: "";
    position: absolute;
    left: 50%;
    min-width: 300vw;
    min-height: 300vw;
    background-color: lightsteelblue;
    -webkit-animation-name: rotate;
    animation-name: rotate;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

.loader-container:before {
    bottom: 15vh;
    border-radius: 45%;
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
}

.loader-container:after {
    bottom: 12vh;
    opacity: 0.5;
    border-radius: 47%;
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
}

@-webkit-keyframes rotate {
    0% {
        transform: translate(-50%, 0) rotateZ(0deg);
    }
    50% {
        transform: translate(-50%, -2%) rotateZ(180deg);
    }
    100% {
        transform: translate(-50%, 0%) rotateZ(360deg);
    }
}

@keyframes rotate {
    0% {
        transform: translate(-50%, 0) rotateZ(0deg);
    }
    50% {
        transform: translate(-50%, -2%) rotateZ(180deg);
    }
    100% {
        transform: translate(-50%, 0%) rotateZ(360deg);
    }
}

.spinner {
    width: 24rem;
    height: 24rem;
    border: 16px solid;
    position: fixed;
    border-color: var(--link-color) transparent #e9c89e transparent;
    border-radius: 50%;
    animation: spin-anim 1.5s linear infinite;
    z-index: 1005;
}

.content {
    position: relative;
}

.content h2 {
    color: #fff;
    font-size: 3.5em;
    font-weight: 300;
    position: fixed;
    transform: translate(-50%, -50%);
    font-family: "Poppins", sans-serif;
    z-index: 1005;
}

.content h2:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 1px #3e606f;
}

.content h2:nth-child(2) {
    color: #3e606f;
    animation: animate 4s ease-in-out infinite;
}

.spinner-label-background {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 24rem;
    height: 24rem;
    border-radius: 50%;
    background: whitesmoke;
    box-shadow: 0 0.188em 1.550em rgb(156, 156, 156);
    z-index: 1005;
}

@keyframes animate {
    0%,
    100% {
        clip-path: polygon(
                0% 45%,
                16% 44%,
                33% 50%,
                54% 60%,
                70% 61%,
                84% 59%,
                100% 52%,
                100% 100%,
                0% 100%
        );
    }

    50% {
        clip-path: polygon(
                0% 60%,
                15% 65%,
                34% 66%,
                51% 62%,
                67% 50%,
                84% 45%,
                100% 46%,
                100% 100%,
                0% 100%
        );
    }
}

@keyframes spin-anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    0% {transform: translate(-50%, 0) rotateZ(0deg);}
    50% {transform: translate(-50%, -2%) rotateZ(180deg);}
    100% {transform: translate(-50%, 0%) rotateZ(360deg);}
}
